html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,a,
del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,
hgroup,menu,nav,section,time,mark,audio,video {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	color: #333;
	text-align: center;
	font-family: var(--font-noto-sans), sans-serif;
	font-size: 14px;
}
img {
	line-height: 0;
	vertical-align: bottom;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: inherit;
}